<section>
    <div class="filtro">
        <p class="mt-3"><b>Productores próximos:</b></p>
        <div class="content">
            <div class="field">
                <select class="browser-default custom-select w-60 mt-0">
                    <option disabled selected>Municipio</option>
                    <option value="todas">Todos</option>
                    <option value="todas">Cercedilla</option>
                    <option value="todas">Madrid</option>
                    <option value="todas">San Martín de la Vega</option>
                    <!-- <option *ngFor="let categoria of categorias" [value]="categoria.nombre">
                {{ categoria.nombre | titlecase }} ({{ categoria.num }})
            </option> -->
                </select>
            </div>
        </div>

        <ul class="">
            <p class="mb-1 mt-3"><b>Cerca de mi:</b></p>
            <li> <a href="#">Nombre de Productor (click->info)</a></li>
            <li>Nombre de Productor (click->info)</li>
            <li>Nombre de Productor (click->info)</li>
            <li>Nombre de Productor (click->info)</li>
            <!-- <li *ngFor="let autor of autores">
                <img class="img-autor" src="./assets/images/avatar_{{autor.toLowerCase()}}.jpg">
                {{autor}}
            </li> -->
        </ul>

        <ul class="">
            <p class="mb-1 mt-3"><b>Categorias:</b></p>
            <li> <a href="#">Lacteos (click->info)</a></li>
            <li>Frutas (click->info)</li>
            <li>Verduras (click->info)</li>
            <li>Cereales (click->info)</li>
            <li>Bebidas (click->info)</li>
            <li>Despensa (click->info)</li>


            <!-- <li *ngFor="let autor of autores">
                <img class="img-autor" src="./assets/images/avatar_{{autor.toLowerCase()}}.jpg">
                {{autor}}
            </li> -->
        </ul>

    </div>
</section>