
<!--inicio bootstrap grid-->

<div class="divcolor pt-6 mb-6 mt-6" > 
<p>Red de productores <span> Cerca de Ti </span> en la Comunidad de Madrid</p>
</div>
<div class="container ">
    <div class="row">
          <div class="col-sm">
                        <p class="mt-3 textfiltro"><b>Busca productores próximos:</b></p>
                        <div class="content">
                            <div class="field">
            
                                <select class="browser-default custom-select w-60 mt-0" (change)="onChange($event)">
                                    <option disabled selected>Comarcas</option>
                                    <option value="todas">Todas</option>
                                    <option *ngFor="let comarca of comarcasSinRepetir" [value]="comarca">
                                        {{ comarca }}
                                    </option>
                                </select>
                            </div>
                        </div>
             

           </div>

          <div class="col-sm">
            <p class=" mt-3 textfiltro"><b>Busca productor por municipio:</b></p>
            <select class="browser-default custom-select w-60 mt-0"(change)="onChangeMunProd($event)">
                <option disabled selected>Productor por municipios</option>
                <option value="todos">Todos</option>
                <option *ngFor="let municipio of municipiosSinRepetir" [value]="municipio">
                    {{ municipio}}
                </option>
            </select>  
        </div>
        <div class="col-sm">
            <p class=" mt-3 textfiltro"><b>Busca productor por categoría:</b></p>
            <select class="browser-default custom-select w-60 mt-0" (change)="onChangeCat($event)">
                <option disabled selected>Productor por categoria</option>
                <option value="todos">Todos</option>
                <option *ngFor="let categoria of categoriasSinRepetir" [value]="categoria">
                    {{ categoria}}
                </option>
            </select>
        </div>
    </div>
</div>

<!--fin filtro bootstrap-->

<div class="card-deck mb-10">

   <div class="container">
                      
      <div class="row prodcar">
        <!-- <div class="col-sm"> -->
    
<div class="card productores col-sm bg-light  " *ngFor="let productor of productores"  style="width: 18rem;">
     <img class="card-img-top" src="http://localhost:3000/images/{{productor.imagen}}"  alt="Card image cap">
     <div class="card-body"> 
         <h4 class="infopromain">{{productor.nombre_empresa}}</h4>
         <p class="infopro">{{productor.comarca}}</p>
        <p class="infopro">{{productor.municipio}}</p>
         <p class="infopro">{{productor.comentario}}</p>
         
         
        <div class="star-rating">
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
            </ul>
        </div>
     </div>
    </div>
    </div>
</div> 
</div>


<!-- fin card  -->

<!-- !!pruebas card -->
<!-- <div class="card-deck">
    <div class="row">
    
    <div class="card border-secondary col" *ngFor="let productor of productores" >

        <div class="card-header border-secondary text-center  ">
            {{productor.nombre_empresa}}
        </div>
        <div class="card-body bg-light text-secondary">
            <img class="card-img-top" src="http://localhost:3000/images/{{productor.imagen}}" alt="Card image cap">
            <h3 class="card-title text-center text-dark mb-5 pt-5"><b>{{productor.comentario}}</b></h3>
            <p class="comarca"> Comarca:{{productor.comarca}}</p>
            <p class="municipio">Municipio:{{productor.municipio}}</p>
            <div class="star-rating">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-footer bg-transparent border-secondary text-center">
            <a [routerLink]="['/inicio']" title="Ir a Inicio" class="card-link texto-azul">Ir a Inicio</a>
        </div>
    </div>
 </div> -->
<!-- fin carousel -->
<div class="divcolor pt-3 mb-3"> 
    <p>Nuestros Productores</p>
</div>