
<div class="containermapa">

        <div class="search" >

           <input type="text" id="inputPlaces" placeholder="Busca aquí productores cerca de ti"><i class="fas fa-search"></i>
        </div>
        
        <div class="mapa">

          
          <agm-map [latitude]="lat" [longitude]="lon" [zoom]="17" [fitBounds]="true" >

           <agm-marker [latitude]="lat" [longitude]="lon">
           </agm-marker>

        
          <agm-marker *ngFor="let productor of productores"

            [latitude]="productor.lat"
           
            [longitude]="productor.lon"

            [agmFitBounds]="true">

            <agm-info-window>
             <h3>{{productor.nombre_empresa }}</h3>
              <p>{{productor.direccion_produccion}}</p>
              <p>Email:{{productor.email_empresa}}</p>
              <p>Tlf:{{productor.telefono_empresa}}</p>
              <p><a href="#">Visitar web</a></p>
            
            </agm-info-window>

          </agm-marker>

         </agm-map>
      </div>
    </div>



