<body>
    <div class="content">
        <div class="text">Login</div>
        <form action="#">
            <div class="field">
                <span class="fas fa-user"></span>
                <input type="text">
                <label>Email</label>
            </div>
            <div class="field">
                <span class="fas fa-lock"></span>
                <input type="password">
                <label>Password</label>
            </div>
            <div class="forgot-pass"><a href="#">Olvido Password?</a></div>
            <button>Acceder</button>
            <div class="signup">Aún no eres miembro?
                <a href="#">Registrarme</a>
            </div>
        </form>
    </div>
</body>