<section class="pt-5">
    <div class="container">
        <div class="row">
            <!-- Filtro -->
            <div class="col-3">
                <section>
                    <div class="filtro">
                        <p class="mt-3"><b>Productores próximos:</b></p>
                        <div class="content">
                            <div class="field">
                                <select class="browser-default custom-select w-60 mt-0" (change)="onChange($event)">
                                    <option disabled selected>Comarcas</option>
                                    <option value="todas">Todas</option>
                                    <option *ngFor="let comarca of comarcasSinRepetir" [value]="comarca">
                                        {{ comarca }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <ul>
                            <p class="mb-1 mt-3"><b>Cerca de mi:</b></p>
                            <p><b>Selecciona Productos por Productor:</b></p>
                            <li><a (click)="onClickMostrarTodos()">Todos</a></li>
                            <li *ngFor="let productor of productores"> <a
                                    (click)="onClickProductorId(productor.fk_usuario)">{{productor.nombre_empresa}} -
                                    id: {{productor.id}} (click)</a>
                            </li>
                        </ul>
                        <!-- Linea de separacion entre productores y productos -->
                        <div class="linea"></div>
                        <ul>
                            <p class="mb-1 mt-3"><b><a (click)="ocultarListaPorCat()">Selecciona Productos por
                                        Categoria:</a></b></p>
                            <div *ngIf="muestraListaPorCat">
                                <li><a (click)="onClickMostrarTodos()">Todas</a></li>
                                <li *ngFor="let categoria of categoriasSinRepetir"><a
                                        (click)="onClickProductCategoria(categoria)">{{categoria}}
                                        (click)</a></li>
                            </div>
                        </ul>
                        <ul>
                            <p class="mb-1 mt-3"><b><a (click)="ocultarListaPorCom()">Selecciona Productos por
                                        Comarca:</a></b></p>
                            <div *ngIf="muestraListaPorCom">
                                <li><a (click)="onClickMostrarTodos()">Todas</a></li>
                                <li *ngFor="let comarca of comarcasSinRepetir"><a
                                        (click)="onClickProductComarca(comarca)">{{comarca}}
                                        (click)</a></li>
                            </div>
                        </ul>
                    </div>
                </section>
            </div>
            <!-- Fin Filtro -->
            <!-- Tienda Productos -->
            <div class="col-7 mb-4 tienda">
                <div id="top"></div>
                <ul>
                    <div class="row">
                        <!--  mostar solo los seleccionados -->
                        <!-- <li *ngFor="let productor of productores">{{productor.nombre_empresa}}</li> -->
                        <li class="col-xl-4 col-md-6 mt-4" *ngFor="let producto of productos">
                            <div>
                                <div class="card border-0">
                                    <img class="card-img-top" src="http://localhost:3000/images/{{producto.imagen}}" alt="">
                                    <div class="card-body p-3">
                                        <h3 class="card-title">{{producto.nombre}}</h3>
                                        <!-- <p class="card-text">PRODUCTOR: {{producto.productor}}</p> -->
                                        <!-- Productor-detalleComponent -->
                                        <!-- <a class="reset-anchor text-gray" [routerLink]="['/productor', productor?.id]">{{ productor?.nombre_empresa | uppercase }}</a> -->
                                        <p class="card-text">{{producto.descripcion}}</p>
                                        <p class="card-text ">{{producto.cantidad}} - {{producto.precio}} €</p>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <p class="card-text" class="text-muted">
                                                {{producto.categoria | titlecase}}
                                            </p>
                                            <div class="img-certificado" [ngSwitch]="producto.certificado">
                                                <img src="../assets/images/icono-bio.jpg" *ngSwitchCase="'bio'"
                                                    height="55px">
                                                <img src="../assets/images/icono-eco.png" *ngSwitchCase="'eco'"
                                                    height="55px">
                                                <img src="../assets/images/icono-vegan.jpg" *ngSwitchCase="'vegan'"
                                                    height="55px">
                                            </div>
                                        </div>
                                        <a class="btn btn-outline-secondary"
                                            (click)="onClickAnadirProducto(producto)">Añadir cesta</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
                <a href="#top" class="arrow-top d-flex flex-row-reverse"><i class="fas fa-angle-double-up"></i></a>
            </div>
            <!-- Fin Tienda Productos -->
            <!-- Cesta -->
            <div class="col-2 mt-4">
                <app-cesta></app-cesta>
            </div>
            <!-- Fin Cesta -->
        </div>
    </div>
</section>