<div class="row">
    <div class="col-2">
        <!-- componente C3 filtro -->
    </div>

    <div class="col-6 mb-4 tienda">
        <div class="row">
            <div class="col-sm-4 mt-4">
                <div class="card border-0">
                    <img class="card-img-top" src="../assets/images/tomates_1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Producto</h5>
                        <p class="card-text">Descripcion producto</p>
                        <p class="card-text ">Peso - Precio €</p>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="card-text"><small class="text-muted">Categoria</small></p>
                            <img src="../assets/images/icono-vegan.jpg" height="60px">
                        </div>
                        <a href="#" class="btn btn-outline-secondary">Añadir cesta</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="card border-0">
                    <img class="card-img-top" src="../assets/images/miel_1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Producto</h5>
                        <p class="card-text">Descripcion producto</p>
                        <p class="card-text">Peso - Precio €</p>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="card-text"><small class="text-muted">Categoria</small></p>
                            <img src="../assets/images/icono-bio.jpg" height="60px">
                        </div>
                        <a href="#" class="btn btn-outline-secondary">Añadir cesta</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="card border-0">
                    <img class="card-img-top" src="../assets/images/queso_1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Producto</h5>
                        <p class="card-text">Descripcion producto</p>
                        <p class="card-text">Peso - Precio €</p>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="card-text"><small class="text-muted">Categoria</small></p>
                            <img src="../assets/images/icono-organic.jpg" height="60px">
                        </div>
                        <a href="#" class="btn btn-outline-secondary">Añadir cesta</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="card border-0">
                    <img class="card-img-top" src="../assets/images/cerveza_1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Producto</h5>
                        <p class="card-text">Descripcion producto</p>
                        <p class="card-text">Peso - Precio €</p>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="card-text"><small class="text-muted">Categoria</small></p>
                            <img src="../assets/images/icono-vegan.jpg" height="60px">
                        </div>
                        <a href="#" class="btn btn-outline-secondary">Añadir cesta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <!-- cesta -->
    </div>
</div>