<div class="cesta">
    <!-- Button trigger modal de bootstrap -->
    <button type="button" class="btn btn-primary mi-cesta position-fixed boton-mc" data-toggle="modal"
        data-target="#exampleModal">
        Mi Cesta
    </button>
    <!-- PRUEBA Button TOOLTIP de angular materials -->
    <!-- <button mat-raised-button matTooltip="Me lleva a Mi Cesta" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">
        Tolltip
    </button> -->
    <!-- LISTA de Productos Cesta siempre visible -->
    <!-- <div class="lista-cesta position-fixed mt-5">
        <p class="mb-0">Productos en Cesta:</p>
        <ul>
            <li *ngFor="let productoLista of arrCarrito">{{productoLista.nombre}}-{{productoLista.cantidad}}</li>
        </ul>
    </div> -->
    <!-- Lista de Productos Cesta desplegable -->
    <div class="lista-cesta position-fixed mt-5">
        <div (click)="ocultarLista()">
            <p class="mb-0">
                <a>Productos en mi Cesta:</a>
            </p>
            <i class="fas fa-angle-down d-flex justify-content-center"></i>
        </div>
        <div *ngIf="muestraLista">
            <ul>
                <li *ngFor="let productoLista of arrCarrito">{{productoLista.nombre}}-{{productoLista.cantidad}}
                    <span class="badge badge-pill badge-success">1</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Inicio Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="fas fa-shopping-basket pt-3 pl-2"></span>
                    <h2 class="modal-title mt-1 ml-3" id="exampleModalLabel">Mi Cesta</h2>
                   
                    <!-- ?Nombre y apellidos en cesta -->
                    <!-- <p class="ml-3 mt-3 nombre-usuario">Nombre Usuario:
                        {{usuariosService.recuperarUsuario().nombreUsuario}}
                        {{usuariosService.recuperarUsuario().nombreApellidos}}</p> -->

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <div class="productos">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let productoLista of arrCarrito, let indice = index;">
                                <div class="row">
                                    <div class="col-md-1 mt-1"><img class="card-img-top d-inline"
                                            src="http://localhost:3000/images/{{productoLista.imagen}}" alt="">
                                    </div>
                                    <div class="col-md-6 ml-2">
                                        <p class="d-inline mb-0">{{productoLista.nombre}} -
                                            {{productoLista.cantidad}}
                                            - {{productoLista.certificado}}</p>
                                        <p class="mb-0">1 Unidad</p>
                                    </div>
                                    <div class="col-md-2 text-center mas"
                                        (click)="onClickAgregarProducto(productoLista)">
                                        <b>+ </b>1
                                    </div>
                                    <a class="fas fa-times equis ml-3" (click)="onClickBorrarProducto(indice)"></a>
                                    <div class="col-md-2 text-right ml-4">{{productoLista.precio | number:'0.2-2'}}
                                        €
                                    </div>
                                </div>
                            </li>
                            <!-- PRUEBA Modelo de producto en lista estático -->
                            <!-- <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-1 mt-1"><img class="card-img-top d-inline"
                                            src="../assets/images/tomates_1.jpg" alt=""></div>
                                    <div class="col-md-auto ml-2">
                                        <p class="d-inline mb-0">Producto Nombre - Cantidad
                                            (Kg/gr/l/ud) - Certificado</p>
                                        <p class="mb-0">1 Unidad</p>
                                    </div>
                                    <div class="col-md-2 text-right">+ 1 -</div>
                                    <i class="fas fa-times equis"></i>
                                    <div class="col-md-2 text-right pr-1">Precio €</div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!-- Precio -->
                <div class="modal-body pt-0">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item border-bottom-0 pb-0">
                            <div class="row justify-content-end">
                                <div class="col-md-auto col">Subtotal</div>
                                <div class="col-md-2 col text-right">{{calcularSubTotal() | number:'0.2-2'}} €</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row justify-content-end">
                                <div class="col-md-auto col">IVA (4%)</div>
                                <div class="col-md-2 col text-right iva">{{calcularIva() | number:'0.2-2'}} €</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row justify-content-end total">
                                <div class="col-md-auto col"><b>Total:</b></div>
                                <div class="col-md-2 col text-right">{{calcularTotal() | number:'0.2-2'}} €</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <p class="pt-3 pr-4">Antes de realizar tu compra has de registrate como Usuario *</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver a Tienda</button>
                    <button type="button" class="btn btn-primary mr-3 comprar" data-dismiss="modal"
                        (click)="sendCarrito()">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal -->
</div>