<!-- INICIO header -->
<header class="bg-dark text-white container-fluid">
    <!-- nav .container -->
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark container">
        <a class="navbar-brand" href="./indice" title="Ir a Inicio">
            <!-- <img class="logo" src="./assets/images/logo.png" alt=""> -->
            <b>con +</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- text-center alineo menu centrado en movil -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- ml-auto margin left -->
            <div class="navbar-nav ml-auto active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">MVV</a>
                <a class="nav-link" href="#">Cerca de ti</a>
                <a class="nav-link" href="/tienda">Productos</a>
                <a class="nav-link" href="#">Eventos</a>
                <a class="nav-link" href="#">Contacto</a>
                <div class="linea"></div>
                <a class="nav-link active" href="/login">LOGIN</a>
            </div>
        </div>
    </nav>
</header>
<div>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
<!-- FIN header -->

<!-- INICIO FOOTER -->

<footer class=" bg-dark page-footer font-small blue pt-4">
<div class="container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">servicios</h5>

                <p>Conviértete en productor</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">



                <!-- Links -->
                <h5 class="text-uppercase">Redes</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Contacto <i class="far fa-envelope"></i></h5>

                <address>
                    <a href="mailto:webmaster@example.com">contacto@tierradesabores.es</a><br>
                    Dirección:<br>
                    C/Amor de Dios,17<br>
                    28008<br>
                    Madrid
                </address>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Tierra de sabores</a>
    </div>
    <!-- Copyright -->
</div>
</footer>
<!-- Footer -->
