<h1>the header</h1>

<h2>subtítulo</h2>

<router-outlet></router-outlet>







<!-- INICIO FOOTER -->

<footer class=" bg-dark page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">servicios</h5>

          <p>Conviértete en productor</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          
  
          <!-- Links -->
          <h5 class="text-uppercase">Redes</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contacto <i class="far fa-envelope"></i></h5>
           
          <address>
           <a href="mailto:webmaster@example.com">contacto@tierradesabores.es</a><br>
            Dirección:<br>
            C/Amor de Dios,17<br>
            28008<br>
            Madrid
            </address>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> Tierra de sabores</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->



