@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
    padding: 0;
    margin: 0;
  }
/* INICIO Header */
header {
    position: fixed;
    z-index: 10;
  }
header .logo{
    width: 35px;
    filter: invert(0.8);
}
header .navbar-brand b{
    line-height: 40px;
    margin-left: 10px;
}
header .navbar-nav .linea{
    height: 20px;
    margin-top: 12px;
    border-left: 1px solid white;
}
/* FIN Header */
/* INICIO Hero */
.hero{
    padding-top: 66px;
}
.hero .jumbotron{
    /* background-image: url("./assets/images/foto_hero.jpg"); */
    background-color: #00D0C6;
    background-size: cover;
    height: 570px;
    opacity: 1;
    margin-bottom: 0;
}
.hero .lead{
    font-size: 2em;
    font-weight: 700;
    margin-top: 10%;
}
.hero .p1{
    font-size: 1.75em;
}
.hero .p2{
    font-size: 1.25em;
}
.hero .btn{
    font-size: 1.15em;
}
/* FIN Hero */
/* INICIO Tienda */
.tienda{
    padding-top: 66px;
}
/* .tienda .btn:hover{
    background-color: #00D0C6;
} */

/* FIN Tienda */

