@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
/* Inicio Header */
header {
    position: fixed;
    z-index: 10;
  }
header .logo{
    width: 35px;
    filter: invert(0.8);
}
header .navbar-brand b{
    line-height: 40px;
    margin-left: 10px;
}
header .navbar-nav .linea{
    height: 20px;
    margin-top: 12px;
    border-left: 1px solid white;
}
/* Fin Header */

/* Inicio main */
main{
    padding-top: 66px;
}
/* Fin main */
