<!-- Inicio hero -->
<div class="hero">
    <div class="jumbotron text-center text-white">
        <!-- display-1a5 : tamano de texto-->
        <!-- <h1 class="lead">con |sumo</h1>
        <h1 class="lead mt-0 titulo"> |sciente</h1>
        <h1 class="lead mt-0 titulo-dos"> |ecta</h1> -->
        <div class="row justify-content-center slogan">
            <div>
                <h1 class="lead mt-0 mr-2">con</h1>
            </div>
            <div>
                <h1 class="lead mt-0 mb-0 text-left">|sumo</h1>
                <h1 class="lead mt-0 mb-0 sciente">|sciente</h1>
                <h1 class="lead mt-0 text-left ecta">|ecta</h1>
            </div>
        </div>
        <p class="p1">Dinamic Landscape Conectivity</p>
        <div class="d-flex justify-content-center mb-3">
            <p class="p2 col-6">Plataforma de conexión entre pequeños
                productores
                sostenibles de
                proximidad y
                consumidores responsables</p>
        </div>
        <button type="button" class="btn btn-outline-light btn-outline-secondary font-weight-bold"
            title="Ir a Login">Unete</button>
    </div>
</div>
<!-- Fin hero -->