<div class="hero">
    <div class="jumbotron text-center text-white">
        <!-- display-1a5 : tamano de texto-->
        <h1 class="lead">Nombre APP</h1>
        <p class="p1">Dinamic Landscape Conectivity</p>
        <p class="p2">Landscape connectivity is increasingly promoted as a conservation tool to combat <br>the negative
            effects of habitat loss, fragmentation, and climate change.</p>
        <button type="button" class="btn btn-outline-light btn-outline-secondary text-uppercase font-weight-bold"
            title="Ir a Login">Conecta</button>
    </div>
</div>